body {
    font-family: 'Arial', sans-serif;
    background-color: #acea6e;
    margin: 0;
    padding: 0;
}

.container, .formularioProductos {
    max-width: 800px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #163519; 
}

#contenedorProductos {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.product-card {
    background-color: #d7de0b; 
    border: 2px solid #c6ff00; 
    padding: 20px;
    width: 280px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.3s ease; 
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card p {
    margin: 5px 0;
    color: #163519; 
}

.delete-button {
    background-color: #e01515;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #6f0a0a; 
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    background-color: #d7de0b;
    border: 1px solid #c6ff00;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
}

.product-item p {
    margin: 6px 0;
    color: #163519; 
}

.product-list .product-item:first-child {
    color: #616161;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #083e14;
}

.input, .select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #b2dfdb; 
    border-radius: 6px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #c6ff00;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn {
    background-color: #3c32fb; 
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #112576;
}
